*{


		font-family: "Caveat", serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	
	  
}

html{
	user-select: none;
}
body{
	background-image: url(photo_2025-02-13_20-39-11.jpg);
	margin: 0 auto;
	overflow-x: hidden;
	height: 1100px;
	overflow-y: scroll;
	background-color: rgb(255, 131, 255);

	
}

.header{
	background: none;
	width: 100%;
	height: 250px;
	background-color:#b31616;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 40px;
	text-align: center;
}
.header p {
 margin: 5px;
}

.custom-shape-divider-top-1734893205 {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1734893205 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
	
}

.custom-shape-divider-top-1734893205 .shape-fill {
    fill: #b31616;
}
.main{
	margin-top: 80px;
	color: white;
	padding: 0px 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	
}
.foto{
	margin: 10px 0px;
	width: 300px;
	height: 150px;
}
h1{
	background-color: rgb(255, 131, 255);
	padding: 35px;
	border-radius: 15px;
	text-align: center;
}
